<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>




<br/>

<div>
    LiveReload - Ok
</div>

<br/>

<div class="ui button">
    SemanticUI
</div>

<br/>

<a class="waves-effect waves-light btn">
    MaterialCSS - X
</a>

<br/>

<div id="jquery-status">
    jQuery - X
</div>

<br/>

<div class="bg-gray-200">
    TailWind - X
</div>

<br/>

<div id="react-status">ReactJS - X</div>

<br/>

<div id="mui-status">MUI - X</div>
